<div class="mt-5 overflow-auto">
  
  <div class="m-3 mt-4">

    <div class=" d-flex justify-content-evenly">
      <h2 class="text-primary">Tasks list</h2>
      <TaskForm />
    </div>

    <div class="m-1 container" *ngFor="let task of tasks; let index of tasks">
      <div @enterState [@exitState]=" animationKey !== task.id ? 'visible' : 'hidden'">
        <TaskView [task]="this.task" />
      </div>
    </div>

    <div *ngIf="tasks.length < 1">
      <h3 class="text-secondary text-center mt-5">No tasks yet</h3>
    </div>

  </div>

</div>
