
.alert{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 10px ;
    margin: 1px;
    border-radius: 10px;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}